
<p>
HELP Needed?<br/>
Its features are:</p>
<p>
<ul>
	<li>It's a simple social networking website where you can express your thoughts with friends </li>
	<li>You can search known ones by their email_Id</li>
</ul>
</p>
