<h1>Help</h1>
<p>
help page <a href="http://ruby.railstutorial.org/chapters/ruby-on-rails-tutorial" target=_blank>ruby on Rails tutorial</a></br>
<a href="http://guides.rubyonrails.org/asset_pipeline.html" target=_blank>Study for asset Pipeline</a>
</p>
